@import '~normalize.css';
@import 'helpers/fonts';
@import 'helpers/variables';
@import 'helpers/animations';
@import 'blocks/flipbook';
@import 'blocks/cover';
@import 'blocks/question';
@import 'blocks/btn';
@import 'blocks/guide';
@import 'blocks/images-table';
@import 'blocks/images-box';
@import 'blocks/restart-btn';

// Global styles must be written here
html {
  color: $color-main;
  font-family: 'Pompadur', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 22px;
  line-height: 1.3;
}

body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.main {
  background: url('../img/background.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  width: 1248px;
}
