@import '~normalize.css';
@import 'helpers/fonts';
@import 'helpers/variables';
@import 'blocks/flipbook';
@import 'blocks/cover';
@import 'blocks/question';

// Global styles must be written here
html {
  color: $color-main;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
