$color-button: #644838;

.btn {
  display: inline-block;
  padding: 10px 25px;
  border: 0;
  border-radius: 2px;
  color: $color-button;
  background: rgba(#fff, .7);
  font-size: 16px;
  box-shadow: 0 0 0 rgba($color-button, .5);
  transition: box-shadow .2s;
  outline: none;
  font-size: 21px;

  &:active {
    box-shadow: 0 0 10px rgba($color-button, .5);
  }

  &:disabled {
    opacity: 0.3;
  }

  &--accent {
    background: $color-button;
    color: #fff;
  }
}
