.cover {
  background: #f3f3eb url('../img/cover.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
