.flipbook {
  perspective: 2000px;
  filter: drop-shadow(0 10px 20px rgba(#000, .5));
  transition: margin .3s;

  &__page {
    &--description {
      background: #f3f3eb url('../img/paper-left.jpg') no-repeat center center;
      background-size: cover;
    }

    &--question {
      background: #f3f3eb url('../img/paper-right.jpg') no-repeat center center;
      background-size: cover;
    }

    &--hard-inside {
      background: #633e36 url('../img/hard-inside.jpg') no-repeat center center;
      background-size: cover;
    }
  }

  &__content {
    padding: 40px 20px;
    user-select: none;
  }

  &__pointer {
    width: 100px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    transform: rotate(30deg);
    opacity: .5;
  }

  &__restart {
    width: 140px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: calc(50% - 70px);
  }

  &__rank {
    text-align: center;
  }
}
