.guide {
  position: absolute !important;
  bottom: 20px;
  left: 20px;
  height: 420px;
  width: 200px;
  position: relative;
  z-index: 1;

  &__face {
    display: block;
    position: absolute;
    bottom: 0;
    width: calc(100% - 8px);
    z-index: 0;
    border: 4px solid #644838;
  }

  &__message {
    position: absolute;
    display: block;
    bottom: 270px;
    left: 30px;
    right: 0;
    margin: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    width: 200px;
    // max-height: 100px;
    text-align: center;
    filter: drop-shadow(0 0 5px rgba(#000, .2));
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 55px;
      margin: auto;
      display: block;
      width: 40px;
      height: 20px;
      background: url('../img/arrow.png');
    }

    &--show {
      animation: showUp .3s;
    }

    &--hide {
      animation: hideDown .3s;
      opacity: 0;
    }
  }
}
