.question {
  &__form {
    // Nothing yet
  }

  &__checkbox {
    margin: 5px 5px 5px 0;
  }

  &__label {
    font-size: 14px;
  }

  &__answers {
    // Nothing yet
  }

  &__answer {
    margin: 10px 0;
  }
}
