.question {
  &__form {
    // Nothing yet
  }

  &__checkbox {
    display: block;
    margin: 5px 5px 5px 0;
  }

  &__label {
    display: block;
    width: calc(100% - 20px);
    font-size: 14px;
  }

  &__answers {
    margin: 30px 0;
  }

  &__answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}
